{% extends "base.html" %}
{% block title %}All Contacts{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Site</th>
                <th>Contact Type</th>
                <th>Contact</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.domain.name }}</td>
                    <td>{{ contact.contact_type }}</td>
                    <td>{{ contact.contact }}</td>
                    <td>{{ contact.collector.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
