{% extends "base.html" %}
{% block title %}Collectors{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Collection Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for collector in collectors %}
                <tr>
                    <td>{{ collector.name }}</td>
                    <td>{{ collector.status }}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="collector_id" value="{{ collector.id }}">
                            <button type="submit">
                                {% if collector.status %}
                                    Disable
                                {% else %}
                                    Enable
                                {% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
